.house_bottom_bar{
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    align-items: center;
    font-size: 18px;
    z-index: 99;
}
.collect_house{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #000;
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.collect_house img{
    width: 20px;
    
}
.online_q,.phone_q{
    flex: 2;
    color: #FFF;
    border-top: 1px solid #ccc;
}
.online_q{
    background-color: #F00;

}
.phone_q{
    background-color: #078F71;
}