.map{
    height: 100%;
    padding-top: 45px;
    position: relative;
}
#container{
    height: 100%;
}
.map_label{
    padding:7px  5px;
}
.map_label_name{
    width: 40px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
.map_label_line{
    line-height: 25px;
    padding: 0 5px;
}
.map_house_list{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    overflow:hidden;
    transition: height 1s;
}
.map_house_list_height{
    height: 50%;
}
.map_house_list_no_height{
    height: 0;
}
.map_house_lists{
    padding: 0 5px 45px;
    height: calc(100% - 44px);
    overflow-y: scroll;
}
.map_house_list_title{
    height: 44px;
    line-height: 44px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(9,231,176);
}
.map_house_list_title p{
    font-size: 18px;
    font-weight: bold;
}

.icon_pack_up{
    padding: 14px;
}
