html,body{
    color: #333;
    background-color:#FFF !important; 
}
html,body,#root,.App{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background-color: red;
}
* {
  box-sizing: border-box;
  touch-action: pan-y;
  padding: 0;
  margin: 0;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}